*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1080px; 
    margin-left: auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;

}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row::after{
    content:"" ;
    display: table;
clear: both;
}
[class *='col-']{
    float: left;
    padding-left: 15px;
    padding-right:15px;
    position: relative;
    min-height: 1px;
  
   
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%}
.col-12{width:100%;}


@media (max-width:768px){
    [class *='col-']{
        width: 100%;
    }
}


nav ul li a{
 text-decoration: none;
 color: aliceblue;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 15px;

}
nav ul{
padding: 14px;
}
nav{
background: black;
}
h2{
    
    color: antiquewhite;
    padding: 10px;
}
h1{
    font-size: 50px;
    margin-top: 30px;
}
.banner img{
    width: 100%;
    height: 265px;
    margin-top: 20px;
   
}
button{
    background-color: rgb(46, 46, 236);
    width: 120px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    margin-top: 24px;
}
.line{
    background-color: rgb(124, 122, 122);
padding: 30px;
height: 80px;
color: aliceblue;
text-align: center;
margin-top: 20px;
margin-left: 15px;
margin-right: 15px;

}
.side p {
    text-align: justify;
}

.card{
    margin-top: 20px;
    border: 1px solid rgb(192, 186, 186);
 padding: 10px;
    
}
.footer{
    background-color: black;
    height: 80px;
    width: 100%;
}
.footer p{
    text-align: center;
    color: aliceblue;
    padding: 30px;

}

